#outer
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 700px;
    height: 300px;
    border: 1px solid burlywood;
    box-shadow: azure;
}

#veryouter
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}
#inner1
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

select
{
    color: darkslateblue;
    height: 2.4rem;
    width: 12rem;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: expanded;
    text-shadow: darkturquoise;
    padding-left: 5px;
}

#inner2
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

input
{
    height: 40px;
    width: 190px;
    border-radius: 0.1rem;
    border: 1px solid darkslateblue;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: expanded;
    color: darkslateblue;
    text-shadow: darkturquoise;
}


#inner3
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

button
{
    height: 40px;
    width: 340px;
    border-radius: 0.1rem;
    border: 1px solid darkslateblue;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch: expanded;
    color: bisque;
    background-color: rebeccapurple;
    text-shadow: darkturquoise;
}

